.alert.alert-danger{role: "alert"}
  %h5.alert-heading
    .fas.fa-question-circle
      = link_to question_path(question),class: "alert-link" do
        = question.title
  %hr
    = question.curriculum_i18n
