.contents.container-fluid
  .main.row
    .col-md-9
      =render "template/sidebar"
    .col-md-3
      %h4 答え受付中
      =render @questions
      = link_to "今すぐ質問", new_question_path, class: " btn btn-danger btn-md"