.contents.clearfix
  .left-content
    %h2 What's App?
    %h3 応用カリキュラム
    =link_to question_path(@question) do
      =@question.content
    %h3 最終課題
  .right-content
    %h3 おすすめQ&A
    =link_to "https://coffeecups.blue" do 
      A Cup Of Coding

