.contents.clearfix
  .left-content
    %h2 What's New?
    %h3.box1 応用カリキュラム
    =link_to question_path(@question) do
      =@question.content
    %h3.box1 最終課題
      
  .right-content
    %h3 おすすめURL
    =link_to "https://hackmd.io/pvbqfkMxRpSxDKY7ZkPmcg" do 
      Catalinaトラブル対応まとめ
    %br
    =link_to "https://hackmd.io/@gdHkuuFdTwqySPtsm8mzkA/BJJpg8vHH#/" do 
      メルカリデータベース設計
    %br
    =link_to "https://hackmd.io/NtTvpR9ZQAuOmOYieTCblA" do 
      デプロイ・環境エラーまとめ
    %br
    =link_to "https://chat-space-sample.herokuapp.com/users/sign_in" do 
      Chat-Spaceサンプルページ
    %br
    =link_to "https://ryucoding.com" do 
      RyuCoding
    %br
    =link_to "https://coffeecups.blue" do 
      A Cup Of Coding

