.contents.clearfix
  .left-content
    %h4 質問する
    .form-group
      %label{:for => "exampleTextarea"} タイトル
      %textarea#exampleTextarea.form-control{:rows => "1"}
      %label{:for => "exampleTextarea"} 質問内容
      %textarea#exampleTextarea.form-control{:rows => "10"}
      %br
      %input{type: "submit", value:"投稿する", class: "btn btn-warning"}/
  .right-content
    =render "sidebar"