.contents.clearfix
  .left-content
    .question
      タイトル
      .question_title
        =@question.title
      .question_box
        .name 質問者
        .date 2020/1/1
      %h3 質問内容
      .question_content
        =@question.content
    .answer
      .answer_content
        こたえだよ
      .answer_box
        .name 回答者
        .date 2020/1/1
    %br
    %h2 回答する
    %form
      %input{placeholder: "", type: "textarea",class: "content-form"}/
      %br
      %br
      %input{type: "submit", value:"答える", class: "question-submit"}/
  .right-content
    %h3 おすすめQ&A
    %p
      ミウラのコーディングブログ
      =link_to "https://coffeecups.blue" do 
        ⇒詳しくはこちら

  