.contents.clearfix
  .left-content
    %h2
      =@question.content
    %p おなまえ
    %p 2020/1/1
  .right-content
    %h3 おすすめQ&A
    %p
      ミウラのコーディングブログ
      =link_to "https://coffeecups.blue" do 
        ⇒詳しくはこちら
%footer
  %small Copyright(C) TECH::SHARE ALL RIGHTS RESERVED.
  