.contents.clearfix
  .left-content
    %h2
      =@question.content
    %p 質問者
    %p 2020/1/1
    %h3 
    %p　回答者
    %p 2020/1/1
  .right-content
    %h3 おすすめQ&A
    %p
      ミウラのコーディングブログ
      =link_to "https://coffeecups.blue" do 
        ⇒詳しくはこちら

  