.contents.clearfix
  .left-content
    %h2
      =@question.content
    %p 質問者
    %p 2020/1/1
    %h3 
    %p　回答者
    %p 2020/1/1
    %form
      %input{placeholder: "質問内容", type: "text",class: "content-form"}/
      %br
      %h3 アプリ
      %input{placeholder: "chat-space", type: "checkbox",class: ""}chat-space
      %input{placeholder: "最終課題", type: "checkbox",class: ""}最終課題
      %h3 実装段階
      %input{placeholder: "最終課題", type: "checkbox",class: ""}非同期
      %br
      %br
      %input{type: "submit", value:"投稿する", class: "question-submit"}/
  .right-content
    %h3 おすすめQ&A
    %p
      ミウラのコーディングブログ
      =link_to "https://coffeecups.blue" do 
        ⇒詳しくはこちら

  