.container
  .text-center.p-5.h3 認証メールを再送信する
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .d-flex
      .form-control
        = f.email_field :email, autofocus: true, placeholder: "email", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      .btn.btn-secondary
        = f.submit "再送信"
