%h6.text-center ナレッジを探す
.card.border-outline-light.mb-3
  .card-header
    .fas.fa-search
      プログラミング
  .card-body
    .container
      %form
        .form-group.row
          .custom-control.custom-checkbox.col
            %input#customCheckBox1.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label.d-flex{:for => "customCheckBox1"}
              .fa.fa-gem
              %p.mb-0.pl-1 Ruby
          .custom-control.custom-checkbox.col
            %input#customCheckBox2.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label.d-flex{:for => "customCheckBox2"}
              .fas.fa-road 
              %p.mb-0.pl-1 Rails
          .custom-control.custom-checkbox.col
            %input#customCheckBox3.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label.d-flex{:for => "customCheckBox3"}
              .fas.fa-code 
              %p.mb-0.pl-1 HTML/CSS
          .custom-control.custom-checkbox.col
            %input#customCheckBox4.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label{:for => "customCheckBox4"}
              .fab.fa-js-square Javascript
          .custom-control.custom-checkbox.col
            %input#customCheckBox5.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label{:for => "customCheckBox5"}
              .fab.fa-js-square Jquery
          .custom-control.custom-checkbox.col
            %input#customCheckBox6.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label{:for => "customCheckBox6"}
              .fab.fa-html5 Haml
          .custom-control.custom-checkbox.col
            %input#customCheckBox7.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label{:for => "customCheckBox7"}
              .fab.fa-sass Sass
          .custom-control.custom-checkbox.col
            %input#customCheckBox8.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label{:for => "customCheckBox8"}
              .fab.fa-aws AWS
          .custom-control.custom-checkbox.col
            %input#customCheckBox9.custom-control-input{:type => "checkbox"}/
            %label.custom-control-label{:for => "customCheckBox9"}
              .fab.fa-github Github
.card.border-outline-light.mb-3
  .card-header
    .fas.fa-search
      アプリ
  .card-body
    .form-group
      %select#exampleFormControlSelect1.form-control
        %option Chat-Space
        %option メルカリ
        %option Pictweet
        %option Ourblog
        %option HairOlive
.card.border-outline-light.mb-3
  .card-header
    .fas.fa-search
      カリキュラム
  .card-body
    .form-group
      %select#exampleFormControlSelect1.form-control
        %option 基礎
        %option 応用
        %option 最終課題
.btn.btn-block.mt-2.btn-outline-dark
  %i.fas.fa-search くわしく探す



