.container-fluid.p-4.bg-dark
  = form_with url: search_index_path, method: :get, local: true, class: "searchbar_form" do |f|
    .form-group.d-flex
      = f.text_field :search, class: "form-control col-md-8", placeholder: "キーワードからナレッジを探す..."
      = f.select(:search_type, [['ナレッジを検索'], ['質問を検索'],['ナレッジと質問を検索']],{},class: "form-control col-md-2 btn btn-secondary")
      =button_tag type: 'submit', class:"btn btn-danger col-md-2 ", id:"basic-addon1" do
        %i.fas.fa-search SEARCH