.container-fluid.p-4.bg-dark
  = form_with url: search_index_path, method: :get, class: "searchbar_form" do |f|
    .form-group.d-flex
      = f.text_field :search, class: "form-control col-md-8", placeholder: "キーワードからナレッジを探す..."