.container-fluid.p-4.bg-dark
  = form_with url: search_index_path, method: :get, local: true, class: "searchbar_form" do |f|
    .input-group-prepend
      = f.text_field :search, class: "form-control mr-sm-2", placeholder: "キーワードからナレッジを探す..."
      =button_tag type: 'submit', class:"btn btn-outline-danger", id:"basic-addon1" do
        %i.fas.fa-search SEARCH
    .input-check-box
      = f.select(:search_type, [['ナレッジを検索', 'ナレッジを検索'], ['質問を検索', '質問を検索'],['ナレッジと質問を検索', 'ナレッジと質問を検索']])
      -# selectボックス仮置き