%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.sticky-top
  .navbar-brand
    TECH::SHARE
    %small
      knowledge for mentors
  %button.navbar-toggler{"aria-controls" => "navbarColor01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor01", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          .fas.fa-home HOME
          %span.sr-only (current)
      %li.nav-item
        =link_to articles_path,class:"nav-link" do 
          .fas.fa-book ナレッジを読む
      %li.nav-item
        =link_to new_article_path,class:"nav-link" do 
          .fas.fa-paper-plane ナレッジを投稿
      %li.nav-item
        =link_to questions_path,class:"nav-link" do 
          .fas.fa-question-circle 質問を見る
      %li.nav-item
        =link_to new_question_path,class:"nav-link" do 
          .far.fa-hand-point-right 質問を投稿
      %li.nav-item
        =link_to new_tag_path,class:"nav-link" do 
          .fas.fa-hashtag タグを登録
    %ul.navbar-nav.mr-5
      - if user_signed_in?
        %li.nav-item.dropdown
          .nav-link.dropdown-toggle.btn.btn-outline-warning{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            %b
              =current_user.nickname
          .dropdown-menu
            = link_to "#",class:"nav-link" do
              .dropdown-item マイページ
            = link_to destroy_user_session_path, method: :delete, class:"nav-link" do
              .dropdown-item ログアウト
      - else
        %li.nav-item
          = link_to new_user_registration_path,class: "nav-link btn btn-outline-warning mr-2 ml-3" do
            %b 新規登録
        %li.nav-item
          = link_to new_user_session_path,class: "nav-link btn btn-outline-danger" do
            %b ログイン