%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.sticky-top
  .navbar-brand
    TECH::SHARE
    %small
      knowledge for mentors
  %button.navbar-toggler{"aria-controls" => "navbarColor01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor01", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => root_path}
          .fas.fa-home HOME
          %span.sr-only (current)
      %li.nav-item
        =link_to articles_path,class:"nav-link" do 
          .fas.fa-book ナレッジを読む
      %li.nav-item
        =link_to new_article_path,class:"nav-link" do 
          .fas.fa-paper-plane ナレッジを投稿
      %li.nav-item
        =link_to questions_path,class:"nav-link" do 
          .fas.fa-question-circle 質問を見る
      %li.nav-item
        =link_to new_question_path,class:"nav-link" do 
          .far.fa-hand-point-right 質問を投稿
