%h5 カリキュラムから探す
%ul.list-group
  %li.list-group-item.d-flex.justify-content-between.align-items-center
    Cras justo odio
    %span.badge.badge-primary.badge-pill 14
  %li.list-group-item.d-flex.justify-content-between.align-items-center
    Dapibus ac facilisis in
    %span.badge.badge-primary.badge-pill 2
  %li.list-group-item.d-flex.justify-content-between.align-items-center
    Morbi leo risus
    %span.badge.badge-primary.badge-pill 1
.card.border-light.mb-3{:style => "max-width: 20rem;"}
%br
  .card-header おすすめURL
  .card-body
    .card-text 
    =link_to "https://hackmd.io/pvbqfkMxRpSxDKY7ZkPmcg" do 
      Catalinaトラブル対応まとめ
    %br
    =link_to "https://hackmd.io/@gdHkuuFdTwqySPtsm8mzkA/BJJpg8vHH#/" do 
      メルカリデータベース設計
    %br
    =link_to "https://hackmd.io/NtTvpR9ZQAuOmOYieTCblA" do 
      デプロイ・環境エラーまとめ
    %br
    =link_to "https://chat-space-sample.herokuapp.com/users/sign_in" do 
      Chat-Spaceサンプルページ
    %br
    =link_to "https://ryucoding.com" do 
      RyuCoding
    %br
    =link_to "https://coffeecups.blue" do 
      A Cup Of Coding