.card.bg-dark.mb-3
  .card-header.bg-dark.text-light おすすめURL
  .card-body
    .card-text
      %ul 
        %li
          =link_to "https://hackmd.io/pvbqfkMxRpSxDKY7ZkPmcg" do 
            Catalinaトラブル対応まとめ
        %li
          =link_to "https://hackmd.io/@gdHkuuFdTwqySPtsm8mzkA/BJJpg8vHH#/" do 
            メルカリデータベース設計
        %li
          =link_to "https://hackmd.io/NtTvpR9ZQAuOmOYieTCblA" do 
            デプロイ・環境エラーまとめ
        %li
          =link_to "https://chat-space-sample.herokuapp.com/users/sign_in" do 
            Chat-Spaceサンプルページ
        %li
          =link_to "https://ryucoding.com" do 
            RyuCoding
        %li
          =link_to "https://coffeecups.blue" do 
            A Cup Of Coding