.text-center{:style => "padding:50px 0"}
  .logo TECH::SHARE 新規登録
  .login-form-1
    #register-form.text-left
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .login-form-main-message
        .etc-login-form
          = render "devise/shared/links"
