.main-form {
  height: calc(100vh - 200px);
  &__form {
    height: 100%;
  }
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__content {
    flex-grow: 1;
    position: relative;
  }
  &__file-label {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    i {
      font-size: 1.5rem;
      color: #aaa;
    }
  }
  &__file-field {
    display: none;
  }
  .main-form__text-area {
    height: 100%;
  }
}

.preview-card {
  &__header {
    height: 3rem;
  }

  &__content {
    height: calc(100vh - 200px - 3rem);
  }
}
