- if user_signed_in?
  - if current_user.favorite_articles.include?(article)
    = link_to(article_favorite_path(article, favorite), method: :delete, class: "favorite_button, favorited", remote: true) do
      .fas.fa-star
  - else
    = link_to(article_favorites_path(article), method: :post,  class: "favorite_button", remote: true) do
      .far.fa-star
- else
  お気に入り登録