.text-center{:style => "padding:50px 0"}
  .logo Log in
  .login-form-1
    %form#login-form.text-left
      .login-form-main-message
      .main-login-form
        .login-group
          .form-group
            %label.sr-only{:for => "lg_username"} Username
            %input#lg_username.form-control{:name => "lg_username", :placeholder => "username", :type => "text"}/
          .form-group
            %label.sr-only{:for => "lg_password"} Password
            %input#lg_password.form-control{:name => "lg_password", :placeholder => "password", :type => "password"}/
          .form-group.login-group-checkbox
            %input#lg_remember{:name => "lg_remember", :type => "checkbox"}/
            %label{:for => "lg_remember"} remember
        %button.login-button{:type => "submit"}
          %i.fa.fa-chevron-right
      .etc-login-form
        %p
          new user?
          %br
          %a{:href => "#"} create new account
