.alert.alert-dark{role: "alert"}
  .d-flex.justify-content-between
    %h5.alert-heading
      .fas.fa-book
      = link_to article_path(article),class: "alert-link" do
        = article.title
    %p
      投稿者：
      =article.user.nickname
  %hr
    -article.tags.each do |tag|
      =tag.name

