.container
  .left-content
    %h5 新着ナレッジ
    - @articles.each do |article|
      .card.border-dark.mb-3
        .card-header
          = article.tag
        .card-body
          %h4.card-title
            = link_to article_path(article) do
              = article.title
  .right-content
    =render "template/sidebar"