.fontawesome-custom{
    font-family: FontAwesome;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color:#212529;
}

a{
    color: #0465C0;
    font-weight: bold;
}

.bg-black{
  background-color:  #1D1D1D;
}

.bg-darkgray{
    background-color: #2D2D2D;
}

.bg-pink{
    background-color: #F8D7DA;
}

.fa,.fas{
    line-height: 1.5 !important;
}

pre {
    color: #333333;
    background-color: #EEEEEE;
    border-radius: 5px;
    }
    
img{
    max-width: 100%;
}
    