body {
  background-color: #FEEABC;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
  font-family: 'Andale Mono','メイリオ', Meiryo,'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

a{
  text-decoration: none;
  font: #000;
}

header{
  margin-top: 10px;
}

.heading{
  width: 960px;
  margin: 0 auto;
}

.heading-sentence{
  font-size: 18px;
}

.searchbar{
  height: 60px;
  width: 930px;
  background-color:#767676;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.search-input{
  height: 50px;
  width: 500px;
}

.submit-btn{
  height: 55px;
  width: 100px;
  background-color: #61C359;
  font-size: 15px;
}

.question-btn{
  height: 40px;
  width: 110px;
  background-color: #FBAA00;
  font-size: 15px; 
  font-display: center;
  margin-left: 150px;
  padding-top: 15px;
  padding-left: 30px;
}

.navbar{
  height: 20px;
  width: 930px;
  background-color:#767676;
  margin: 0 auto;
  padding: 15px;
}

.contents{
  width: 960px;
  margin: 10px auto;
}

.left-content{
  height: 500px;
  width: 630px;
  background-color: #fff;
  float: left;
  padding: 10px;
  margin-right: 10px;
}

.right-content{
  height: 500px;
  width: 280px;
  background-color: #fff;
  float: left;
  padding: 10px;
}

footer{
  text-align: center;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  float: left;
  padding-right: 10px;
}

td {
  margin: 0;
  padding-left: 10px;
  line-height: 30px;
}


/* 新規投稿のSCC */
.content-form{
  height:200px;
  width: 600px;
}

