!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.css", :rel => "stylesheet"}/
    %title TECH::SHARE
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .heading
        =link_to root_path do
          %h1.title TECH::SHARE
        %p.heading-sentence Knowledge for Mentors
      .bg-primary
        %form.searchbar_form
          %input{placeholder: "Type a keyword...", type: "text",class: "form-control mr-sm-2"}/
          %input{type: "submit", value:"SEARCH", class: "btn btn-outline-warning"}/
        =link_to new_question_path do 
          .btn.btn-danger 今すぐ質問
      .bg-dark.navbar-nav
        %ul
          %li カリキュラムから探す
          %li 質問から探す
    = yield
  %footer
  %small Copyright(C) TECH::SHARE ALL RIGHTS RESERVED.
