!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/6e2972b136.js"}
    %title TECH::SHARE
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    =render "template/navbar"
    = yield
  %footer
  .text-center Copyright(C) TECH::SHARE ALL RIGHTS RESERVED.
