!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.css", :rel => "stylesheet"}/
    %title TECH::SHARE
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .jumbotron
        =link_to root_path do
          %h1.display-5 TECH::SHARE
        %p.lead Knowledge for Mentors
        %a.btn.btn-primary.btn-lg{:href => new_question_path, :role => "button"} 今すぐ質問
        %hr.my-4/
        %form.searchbar_form
          %input{placeholder: "Type a keyword...", type: "text",class: "form-control mr-sm-2"}/
          %input{type: "submit", value:"SEARCH", class: "btn btn-warning"}/
      .navbar-expand-lg.navbar-dark.bg-primary
        .navbar-brand
        %button.navbar-toggler{"aria-controls" => "navbarColor01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor01", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarColor01.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item.active
              %a.nav-link{:href => root_path}
                Home
                %span.sr-only (current)
            %li.nav-item
              %a.nav-link{:href => "#"} カリキュラムから探す
            %li.nav-item
              %a.nav-link{:href => "#"} 質問から探す
    = yield
  %footer
  %small Copyright(C) TECH::SHARE ALL RIGHTS RESERVED.
