!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.css", :rel => "stylesheet"}/
    %title TECH::SHARE
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .heading
        =link_to root_path do
          %h1.title TECH::SHARE
        %p.heading-sentence Knowledge for Mentors
      .searchbar
        %form
          %input{placeholder: "Type a keyword...", type: "text",class: "search-input"}/
          %input{type: "submit", value:"SEARCH", class: "submit-btn"}/
        =link_to new_question_path do 
          .question-btn 今すぐ質問
      .navbar
        %ul
          %li カリキュラムから探す
          %li 質問から探す
    = yield
  %footer
  %small Copyright(C) TECH::SHARE ALL RIGHTS RESERVED.
