.text-center{:style => "padding:50px 0"}
  .logo Sign up
  .login-form-1
    %form#register-form.text-left
      .login-form-main-message
      .main-login-form
        .login-group
          .form-group
            %label.sr-only{:for => "reg_username"} User_name
            %input#reg_username.form-control{:name => "reg_username", :placeholder => "username", :type => "text"}/
          .form-group
            %label.sr-only{:for => "reg_password"} Password
            %input#reg_password.form-control{:name => "reg_password", :placeholder => "password", :type => "password"}/
          .form-group
            %label.sr-only{:for => "reg_password_confirm"} Password conform
            %input#reg_password_confirm.form-control{:name => "reg_password_confirm", :placeholder => "confirm password", :type => "password"}/
          .form-group
            %label.sr-only{:for => "reg_email"} Email
            %input#reg_email.form-control{:name => "reg_email", :placeholder => "email", :type => "text"}/
        %button.login-button{:type => "submit"}
          %i.fa.fa-chevron-right
      .etc-login-form
        %p
          already have an account?
          %br
          %a{:href => "#"} Login here